.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.9px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  margin-right: 0.5rem;
  gap: 4.5px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logged {
  width: 163.9px;
  height: 18.4px;
  display: flex;
  gap: 4.9px;
}

.main-nav-item-name {
  display: flex;
  gap: 4.3px;
  text-decoration: none;
  margin-right: 0.5rem;
  justify-content: center;
  align-items: center;
}

.main-nav-item-button {
  background-color: white;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 0.5rem;
  gap: 4.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 16px;
}

@media (max-width: 768px) {
  .main-nav-item-button {
    gap: 1px;
  }
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}
